<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard Overview</li>
  </ol>

  <div class="columns">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Users</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <%= User.count %> registered
          <%= link_to "View", admin_users_path, class: "small text-white stretched-link" %>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">Posts</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <%= Post.count %> total
          <%= link_to "View", admin_posts_path, class: "small text-white stretched-link" %>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">Tasks</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <%= Task.count %> assigned
          <%= link_to "View", admin_tasks_path, class: "small text-white stretched-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
