<% if @task.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors:</h4>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [:admin, @task], local: true) do |f| %> 
    <div class="mb-3">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control", rows: 6, required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :assigned_user_id, "Assign To", class: "form-label" %>
      <%= f.collection_select :assigned_user_id, User.all, :id, :email, { include_blank: "Select a user" }, class: "form-select" %>
    </div>

    <%= f.submit class: "btn btn-success" %>
<% end %>
